body {

  height: 200vh;
  width: auto;
}
header {
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
nav {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

nav ul {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav ul li {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 25px;
  background-color: blue;
  padding: 15px;
  border-radius: 15px;
}

ul li a {
  color: aliceblue;
}
ul li a:hover {
  background-color: red;
}

main {
  height: 50%;
  background-color: green;
}
.sect1 {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  height: 50%;
  width: auto;
  margin: 30px;
  margin-top: 30px;
}

.sect1 img {
  width: 120%;
}
.sect1 p {
  text-align: center;
  margin: 60px;
}

.sect2 {
  width: 100%;
  height: 75vh;
  align-items: center;
  background-color: orange;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

form {
  width: 35%;
  display: flex;
  flex-direction: column;
  margin: 25px;
}
#message {
  display: none; /* caché par défaut */
  color: green;
  font-weight: bold;
  text-align: center;
}

footer {
  display: flex;
  background-color: pink;
  width: 100%;
  height: 25%;
  justify-content: center;
  align-items: center;
}

footer p {
  text-align: center;
  margin: 0;
}